$primary-color: #ffffff;
$secondary-color: #1c1d1d;
$sec-yellow: #d4af37;
$third-color: #616464;

$nav-font: 'Inter', sans-serif;
$main-font:'Space Mono', monospace;
$icon-font: 2.5rem;
$font-weights: (
    "regular": 200,
    "medium": 500,
    "bold": 700
)

