video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index:-100;
  object-fit: cover;
  overflow: hidden;
}

.login-box{    
    height: 500px;
    width: 400px;
    background-color: rgba(196, 190, 190,45%) !important;
    font-family: $main-font; 
    // opacity: 45%;

}
.login-bg{
    height: 100vh;
    width: 100%;
}
div.login-box{
    #check{
    width: 30px;
    height: 30px;
}
}
