@import 'config',url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'),'resets';

@function weight($weight-name){
    @return map-get($font-weights,$weight-name);
}

body {
    $text-color: #616464;
    
}
header{
    height: auto;
    width: auto;
    color: $primary-color;
    div {
        img{
            height: 100vh;
            width: 100%;
        }
    }

    nav {
        position: absolute;
        top: 0;
        background-color: transparent;
        width: 100%;
        height: 90px;

       .btn{
        border: none;
        color: $primary-color;
        
        span{
            font-size: $icon-font;
            font-weight: weight(regular);
        }
       }
    }
    div.logo{
        h1 {
            font-family: $nav-font;
            font-size: 3rem;
            font-weight: weight(medium);
            text-transform: uppercase;
        }
    }
}

.close-menu{
    display: block;
    cursor: pointer;
}

.nav-menu{
    display: block;
    height: 100vh;
    background-color: $menu-color;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;

}
